<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>PolyTranslator </title>
  <!--<link rel="stylesheet" type="text/css" href="/mystyle.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 </head>

<style>

.strike {
	text-decoration: line-through;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 1px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
 <body>
 <!--<h1 style="text-align: center">PolyTranslator</h1>-->
 <h1></h1>
 <div class="container">
	 <form method="POST" action="/response">
		<div class="form-group">
		  <label class="mt-5">Word to translate: </label>
		  <input type="text" class="form-control" placeholder="Enter word to be translated" name="keyword">
		</div>
		<div class="form-group">
		<label>Input language: </label>
		<select class="form-control" placeholder="Enter input language" name="inpLang">
			{% include 'langSelection.html' %}
		  </select>
		</div>
		<div class="form-group">
		  <label>Output language: </label>
		  <select class="form-control" placeholder="Enter output language" name="outLang1">
			{% include 'langSelection.html' %}
		  </select>
		</div>
		<input type="button" name="addMe" onclick="outLang2f()" value="+" id="outlang2B" btn btn-primary>
		<div class="form-group" id="outLangC2" style="display:none">
			<label>Output language 2: </label>
		  <select class="form-control" placeholder="Enter output language" name="outLang2">
			{% include 'langSelection.html' %}
		  </select>
		</div>	
		<input type="button" name="addMe" onclick="outLang3f()" value="+" btn btn-primary>
		<div class="form-group" id="outLangC3" style="display:none">
			  <label>Output language 3: </label>
		  <select class="form-control" placeholder="Enter output language" name="outLang3">
			{% include 'langSelection.html' %}
		  </select>
		</div>	
		<input type="button" name="addMe" onclick="outLang4f()" value="+" btn btn-primary>
		<div class="form-group" id="outLangC4" style="display:none">
		  <label>Output language 4: </label>
		  <select class="form-control" placeholder="Enter output language" name="outLang4">
			{% include 'langSelection.html' %}
		  </select>
		</div>	
		<input type="button" name="addMe" onclick="outLang5f()" value="+">
		<div class="form-group" id="outLangC5" style="display:none">
	  <label>Output language 5: </label>
		  <select class="form-control" placeholder="Enter output language" name="outLang5">
			{% include 'langSelection.html' %}
		  </select>
		</div>	
		<button type="submit" class="btn btn-primary">Submit</button>
		<p></p>
	</form>
  
	<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#legend">Legend</button>
  
	{% include 'legend.html' %}

  </div>

 </body>
 <footer>
	<p style="text-align: center">
		API service: libretranslate.com
	</p>
	<p style="text-align: center">
		Developed by Samuel Janoska
	</p>
</footer>
</html>

<script type="text/javascript">
function outLang2f(){
    langEl = document.getElementById('outLangC2');
	btn = document.getElementById('outLang2B');
    if(langEl.style.display=="none"){
		langEl.style.display="block";
		btn.style.display="block";
	} else {
		langEl.style.display="none";
		btn.value="+diff";
	}
}
function outLang3f(){
    langEl = document.getElementById('outLangC3');
    if(langEl.style.display=="none"){
		langEl.style.display="block";
	} else {
		langEl.style.display="none"
	}
}
function outLang4f(){
    langEl = document.getElementById('outLangC4');
    if(langEl.style.display=="none"){
		langEl.style.display="block";
	} else {
		langEl.style.display="none"
	}
}
function outLang5f(){
    langEl = document.getElementById('outLangC5');
    if(langEl.style.display=="none"){
		langEl.style.display="block";
	} else {
		langEl.style.display="none"
	}
}

</script>
