<p>
  <table id='legend' class="collapse table table-striped">
	<th class=''>Language</th>
	<th class=''>Shortcut</th>
	<tr><td class=''>English</td><td class=''>en</td></tr>
	<tr><td class=''>Arabic</td><td class=''>ar</td></tr>
	<tr><td class=''>Chinese</td><td class=''>zh</td></tr>
	<!--<tr><td class=''>Dutch</td><td class=''>nl</td></tr>-->
	<tr><td class=''>Finnish</td><td class=''>fi</td></tr>
	<tr><td class=''>French</td><td class=''>fr</td></tr>
	<tr><td class=''>German</td><td class=''>de</td></tr>
	<tr><td class=''>Hindi</td><td class=''>hi</td></tr>
	<tr><td class=' strike' data-toggle="tooltip" title="'hu not supported' response will be received" data-placement="bottom">Hungarian</td><td class='strike'>hu</td></tr>
	<tr><td class=''>Indonesian</td><td class=''>id</td></tr>
	<tr><td class=' strike' data-toggle="tooltip" title="Incorrect translation will be received">Irish</td><td class=' strike'>ga</td></tr>
	<tr><td class=''>Italian</td><td class=''>it</td></tr>
	<tr><td class=''>Japanese</td><td class=''>ja</td></tr>
	<tr><td class=''>Korean</td><td class=''>ko</td></tr>	
	<tr><td class=''>Polish</td><td class=''>pl</td></tr>	
	<tr><td class=''>Portuguese</td><td class=''>pt</td></tr>	
	<tr><td class=''>Russian</td><td class=''>ru</td></tr>		
	<tr><td class=''>Spanish</td><td class=''>es</td></tr>		
	<tr><td class=' strike' data-toggle="tooltip" title="'sw not supported' response will be received" data-placement="bottom">Swedish</td><td class='strike'>sv</td></tr>		
	<tr><td class=''>Turkish</td><td class=''>tr</td></tr>	
	<tr><td class=''>Ukrainian</td><td class=''>uk</td></tr>		
	<tr><td class=''>Vietnamese</td><td class=''>vi</td></tr>		
</table>
</p>
